 @media(min-width:992px) {
    body{
        font-family:Arial, Helvetica, sans-serif;
    }
    header{
        background-image:
        linear-gradient(to bottom ,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)),
        url('img/detoxcuresmoothie.jpg');
        background-size:cover;
    
        h1{
            padding-top: 150px;
            padding-bottom:150px;
            text-align: center;
            font-family: "Playfair Display", serif;
            color:white;
            font-size:xx-large;
        }
    }
    nav{
        display: flex;
        align-items:flex-end;
        ol{
            display: flex;
            
            list-style:none ;
            li{
                padding-left:20px;
    
                a{
                    color:white;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 10px;
                }
            }
        }
    }
    #logo{
        padding-left:10px;
        height: 50px;
        width: 50px;
        margin-inline-start:10px;
    }
    .endn{
        margin:auto;
        padding:auto;
        align-items:flex-end;
        margin-inline-end:10px;
    }
    a,p{
        font-family: Arial, Helvetica, sans-serif;
    }
    #devise{
        padding-left:40px;
        padding-right:40px;
        #boxd{
            display:flex;
            img{
                height:300px;
    
            }
            div{
                margin-left:30px;
                /* text-align: center; */
                h1{
                    text-align: center;
                }
                align-content:center ;
            }
        }
    }
    #methode{
        background-image:linear-gradient(to bottom, #FEB4C3,#F59E28);
        
        div{
            
            h2{
                padding-top:50px;
            }
            
               
        text-align: center;
        color:white;
        padding-bottom:30px;
        margin-top:30px;
          
        }
    }
    #CONCEPT{
        text-align: center;
        div{
            display:flex;
        }
    }

} 
@media (min-width: 768px) and (max-width: 991px){
    body{
        font-family:Arial, Helvetica, sans-serif;
    }
    header{
        background-image:
        linear-gradient(to bottom ,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)),
        url('img/detoxcuresmoothie.jpg');
        background-size:cover;
        padding: auto;
        margin:auto;
    
        h1{
            padding-top: 150px;
            padding-bottom:150px;
            text-align: center;
            font-family: "Playfair Display", serif;
            color:white;
            font-size:x-large;
            padding: auto;
        }
    } 
    nav{
        flex-direction:line;
        display: flex;
        align-items:flex-end;
        ol{
            display: flex;
            
            list-style:none ;
            li{
                padding-left:20px;
    
                a{
                    color:white;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 5px;
                }
            }
        }
    }
    #logo{
        padding-left:10px;
        height: 50px;
        width: 50px;
        margin-inline-start:10px;
    }
    .endn{
        margin:auto;
        padding:auto;
        align-items:flex-end;
        margin-inline-end:10px;
    }

    a{
        font-family: Arial, Helvetica, sans-serif;
    }


}
@media(max-width:676px) {
    body{
        font-family:Arial, Helvetica, sans-serif;
    }
    header{
        background-image:
        linear-gradient(to bottom ,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)),
        url('img/detoxcuresmoothie.jpg');
        background-size:cover;
        padding: auto;
        margin:auto;
    
        h1{
            padding-top: 150px;
            padding-bottom:150px;
            text-align: center;
            font-family: "Playfair Display", serif;
            color:white;
            font-size:x-large;
            padding: auto;
        }
    } 
    nav{
        flex-direction:line;
        display: flex;
        align-items:flex-end;
        ol{
            display: flex;
            
            list-style:none ;
            li{
                padding-left:20px;
    
                a{
                    color:white;
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 5px;
                }
            }
        }
    }
    #logo{
        padding-left:10px;
        height: 50px;
        width: 50px;
        margin-inline-start:10px;
    }
    .endn{
        margin:auto;
        padding:auto;
        align-items:flex-end;
        margin-inline-end:10px;
    }

    a{
        font-family: Arial, Helvetica, sans-serif;
    }

}
